@use 'base';

.container {
  display: grid;
  width: 63.88%;
  height: 50rem;

  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: auto;

  border-radius: var(--border-radius);
  overflow: hidden;

  margin-top: 4rem;

  @media only screen and (max-width: 1175px) {
    grid-template-columns: minmax(30rem, 1fr);
    width: 87%;
    height: auto;
    margin-top: 0;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 12.3rem 5rem 4.7rem 4.7rem;

    min-height: 44.2rem;

    &__icon {
      position: absolute;
      width: 6.5rem;
      height: auto;
      top: 4.8rem;
      left: 4.7rem;
    }

    &__details {
      &__title {
        text-transform: uppercase;
        color: var(--color-very-light-gray);
        font-size: 4rem;
        font-family: 'Big Shoulders Display', sans-serif;
        font-weight: 700;
      }

      &__description {
        margin-top: 2.5rem;
        color: var(--color-transparent-white);
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14.8rem;
      height: 4.9rem;
      background-color: var(--color-very-light-gray);
      border-radius: 2.5rem;

      cursor: pointer;

      &__link {
        text-decoration: none;
      }

      &:hover {
        border: 0.2rem solid var(--color-very-light-gray);
        background-color: transparent;

        a {
          color: var(--color-very-light-gray);
        }
      }
    }
  }

  &__card--1 {
    background-color: var(--color-bright-orange);

    & .container__card__btn__link {
      color: var(--color-bright-orange);
    }
  }

  &__card--2 {
    background-color: var(--color-dark-cyan);

    & .container__card__btn__link {
      color: var(--color-dark-cyan);
    }
  }

  &__card--3 {
    background-color: var(--color-very-dark-cyan);

    & .container__card__btn__link {
      color: var(--color-very-dark-cyan);
    }
  }
}
